/* Developed by: Team 4: ChrisP, Remy, ChrisW, Dmitri, Anthony*/

/* Script Date: August 27, 2021 */

/*Dmitri*/

body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
}

.flexwrapper {
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#topnav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    font-weight: bold;
    background: deepskyblue;
}

#topnav a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}

#topnav a:hover {
    background: #1565C0;
}

.sidenav{
    display: flex;
    flex-flow: column;
    list-style: none;
    margin: 0;
    font-weight: bold;
    background: white;
}

.sidenav a {
    text-decoration: none;
    display: block;
    color:deepskyblue;
    text-align: center; 
    padding: 1em;
    border-top: 1px solid rgba(255, 255, 255,0.3); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
}

.sidenav a:last-of-type {
    border-bottom: none;
}

.sidenav a:hover {
    background: #1565C0;
}

header {
    text-align: center;
}

footer {
    text-align: center;
    background-color: deepskyblue;
    padding: 1em;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  article {
      margin: 10px;
      padding: 10px;
      background-color: lightcyan;
  }

@media all and (max-width: 800px) {
    .nav {
      justify-content: space-around;
    }
  }
  
@media all and (max-width: 600px) {
    .nav {
      flex-flow: column wrap;
      padding: 0;
    }
    .nav a { 
      text-align: center; 
      padding: 5px;
      border-top: 1px solid rgba(255, 255, 255,0.3); 
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    }
    .nav li:last-of-type a {
      border-bottom: none;
    }
}

/*----------------resources.html----------
Chris P---*/

header img {
    float: left;
    margin: 5px;
}

#resources_header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 10px;
}

#resources_content img {
    float: left;
    padding: 0 14px 0 10px;
}

#resources_content h4 {
    color: black;
}

#included {
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
}

/*----events.html-----
Chris W----*/

table {
    border-collapse: collapse;
    background: white;
    color: black;
    border: 1px solid black;
}

th, td {
    font-weight: bold;
    border: 1px solid gray;
    padding: 30px;
    text-align: center;
    width: 30px;
}

div {
    background-color: lightcyan;
}